<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS_QjFiUNuWhwJmSclYJFnyaa6NitpLC4</string>
	<key>GCM_SENDER_ID</key>
	<string>830718645903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codegopay.individual</string>
	<key>PROJECT_ID</key>
	<string>codegopay</string>
	<key>STORAGE_BUCKET</key>
	<string>codegopay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830718645903:ios:21dc13f48aaa99bb5e82fa</string>
</dict>
</plist>